---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Ambl">
  <div class="px-6 sm:px-8 lg:px-80">
    <section id="hero" class="flex w-full flex-col items-center py-8">
      <h1 class="flex w-fit flex-col pb-4 leading-none">
        <span class="w-fit">Build your</span>
        <span class="w-fit pl-16">digital home.</span>
      </h1>
      <img
        class="w-full max-w-2xl pr-4"
        src="/assets/ambl-graphic.svg"
        alt="Laptop with house and garden illustration"
      />
    </section>
    <section id="main" class="space-y-22 py-14">
      <div class="px-4">
        <div class="py-4">
          <img src="/assets/hands-graphic.svg" alt="Handshake illustration with flower design" />
        </div>
        <h2 class="pb-6">
          We started <span class="text-tree-800">Ambl</span> to help our <span
            class="text-poppy-800">neighbours</span
          >
          <span class="text-tree-800">grow</span> their <span class="text-iris-800">online</span>
          <span class="text-sun-800">presence</span>.
        </h2>
        <p class="pr-28 text-lg">
          Ambl develops your business' reach through digital marketing using websites and social
          media.
        </p>
      </div>
      <div class="flex flex-col gap-5 sm:flex-row">
        <div id="websites-card" class="bg-tree-500 flex flex-1 flex-col rounded-xl p-3 pr-12">
          <div class="bg-tree-300 h-full space-y-4 rounded-lg p-4 py-6">
            <h2 class="text-tree-800">Websites</h2>
            <p>Websites that are friendly for your customers, phones, and search engines.</p>
            <img class="w-full flex-1" src="/assets/websites-graphic.svg" alt="" />
          </div>
        </div>
        <div id="websites-card" class="bg-sun-500 flex-1 rounded-xl p-3 pr-12">
          <div class="bg-sun-300 space-y-4 rounded-lg p-4 py-6">
            <h2 class="text-sun-800">Social Media</h2>
            <p>
              Consistent posts and engaging videos that build your customer base and sell for you.
            </p>
            <img class="px-8" src="/assets/social-media-graphic.svg" alt="" />
          </div>
        </div>
      </div>
    </section>
  </div>

  <section id="contact" class="bg-tree-100 flex flex-col gap-14 px-6 py-14 sm:px-16 md:flex-row">
    <div class="flex-2 space-y-8">
      <h2>Get in touch</h2>
      <div class="space-y-3">
        <p>
          Interested? Curious? We want to connect! Use the form on the right to directly get in
          touch with us. We’re here to help.
        </p>
        <p class="text-tree-800 text-sm">
          *By submitting this form, I consent to the collection and use of my personal information
          to respond to my inquiry, as described in the <a
            href="/privacy-policy"
            class="font-medium underline">Privacy Policy</a
          >.
        </p>
      </div>

      <div class="stroke-tree-800 flex gap-3">
        <a href="https://www.instagram.com/ambl_ca/"
          ><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
            ><!-- Icon from Lucide by Lucide Contributors - https://github.com/lucide-icons/lucide/blob/main/LICENSE -->
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
                d="M16 11.37A4 4 0 1 1 12.63 8A4 4 0 0 1 16 11.37m1.5-4.87h.01"></path></g
            ></svg
          >
        </a>
        <a href="https://www.linkedin.com/company/ambl-ca/"
          ><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
            ><!-- Icon from Lucide by Lucide Contributors - https://github.com/lucide-icons/lucide/blob/main/LICENSE -->
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              ><path
                d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2a2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6M2 9h4v12H2z"
              ></path><circle cx="4" cy="4" r="2"></circle></g
            ></svg
          ></a
        >
      </div>
    </div>

    <ContactForm />
  </section>
</Layout>
